
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* BANNER */

.caixa-banner{
    display: flex;
    width: 100%;
    height: 85vh;
    justify-content: center;
    align-items: flex-end;
    background: url(../imagem/15.jpg) center no-repeat;
    background-size: cover;
    color: #ffff;
}

.banner-texto{
    height: 40vh;
    text-align: center;  
}

.banner-titulo{
    font-size: 32px;
}

.banner-subtitulo{
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 20px;
}

.banner-btn{
    font-size: 12px;
    text-decoration: none;
    color: #ffff ;
    background: rgb(192, 24, 24);
    padding: 15px 15px;
    border-radius: 40px;
    text-transform: uppercase;
    font-weight: bolder;
}

/* Seção sobre mim */

 .foto-pessoal{
    display:flex;
    flex-direction:column;
    height: 140px;
    width: 150px;
    text-align: :left;
    padding: 20px;
    margin: 20px;
}
    


.secao_sobre-mim{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 60px 60px;
}

.resumo_sobre-mim{
    display: flex;
}
.resumo{
    width: 50%;
    margin-right: 30px;
    padding-bottom:10px ;
   
}

.minhas-habilidades{
    width: 40%;
    padding-right: 30px
    
}
.resumo-titulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: #ad2121;
    margin-bottom: 40px;
    justify-content: center;
}

.resumo-principal{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(8, 8, 8);
}

.resumo-secundario{
    font-size: 18px;
    text-align: justify;
    margin-bottom: 15px;
    color: rgb(66, 64, 64);
}

.resumo-btn{
    font-size: 18px;
    padding: 15px;
    background: #ad2121;
    color: #ffff;
    text-decoration: none;
    border-radius: 15px;
    border: 2px solid #f71616;
}

.caixa-btn{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}
strong{
    font-style: italic;
}

.habilidades-titulo{
    font-size: 25px;
    color: #ad2121;
}

.habilidades-lista{
    font-size: 18px;
    color: rgb(66, 64, 64);
    line-height: 1.8;
    margin-top: 20px;
}

.caixa-rede-social{
    color: #ffff;
    background: #ad2121;
    height: 140px;
    width: 150px;
    text-align: center;
    padding: 20px;
    margin: 20px;

}

.img-rede-social{
    height: 50px;
}

.titulo-rede-social{
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.subtitulo-rede-social{
    font-size: 14px;
}

.container-redes-sociais{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.rodape{
    text-align: center;
    padding: 20px;

}

.nome-rodape{
    color: #484749;
    font-size: 15px;
}

.link-rede-social{
    text-decoration: none;
    color: #ffff;
}
